<BR>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Cotización - Pedido N° 00001</h4>
          </div>
            <div class="panel-body" style="background-color:#FEF9E7;">
              <form>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_lugar_cot">Lugar:</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <input type="text" class="form-control" id="text_lugar_cot" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_cant_per_cot">Personas:</label>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="number" class="form-control" id="text_cant_per_cot" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_fecha_ini_cot">Fecha inicio:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="date" class="form-control" id="text_fecha_ini_cot" placeholder="">
          </div>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_cant_dias_cot">Días:</label>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="number" class="form-control" id="text_cant_dias_cot" placeholder="">
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_serv_cot">Servicios:</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <table class="table table-bordered" bordercolor="black">
              <tr bgcolor="#BAC7EC">
                <th>N°</th>
                <th>SERVICIO</th>
                <th>CANT.</th>
                <th>COSTO SERVICIO</th>
              </tr>
              <tr>
                <td>1</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>2</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>3</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_sub_serv">SUB-COSTO SERV.:</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="number" class="form-control" id="text_sub_serv" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_juego_cot">Juegos:</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <table class="table table-bordered" bordercolor="black">
              <tr bgcolor="#BAC7EC">
                <th>N°</th>
                <th>JUEGO</th>
                <th>CANT.</th>
                <th>COSTO JUEGO</th>
              </tr>
              <tr>
                <td>1</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>2</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>3</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_sub_juego">SUB-COSTO JUEGOS:</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="number" class="form-control" id="text_sub_juego" placeholder="">
          </div>
        </div>
      </div>
      
      <p>&nbsp;</p>
      
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_costo_cot">COSTO TOTAL:</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input type="number" class="form-control" id="text_costo_cot" placeholder="">
          </div>
        </div>
      </div>
    
      <p>&nbsp;</p>
    
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-editar_cot"><strong>EDITAR</strong></button>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-grabar_cot"><strong>GRABAR</strong></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
