<BR>
  
<div class="row">

    <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Listar Ofertas</h4></div>
            <div class="panel-body" style="background-color:#FEF9E7;">
                  <form class="form-horizontal">
                        <div class="form-group">
                        <label for="inputJuego" class="col-sm-4 control-label">Ubicacion</label>
                        <div class="col-sm-4">
                          <select class="form-control" id="sexo_id">
                            <option value="S">SUPERIOR</option>
                            <option value="L">LATERAL</option>
                          </select> 
                        </div>
                      </div>
                      
                      <div class="col-md-4"> 
                              <button type="button" class="btn btn-default"><strong>Listar</strong></button>
                      </div>    
                      
                      <BR>
                        
                      
                  </form>    
            </div>  
            
          </div>
        </div> 
      </div>
    </div>
</div>

