<BR>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Mantener los Servicios</h4>
                 <ol class="breadcrumb">
                  </ol>
          </div>
            <div class="panel-body" style="background-color:#FEF9E7;">
              </div>
                
                
                <form class="form-horizontal">
                  <div class="form-group">
                    
                     <div class="col-md-11">
                       <div class="form-group">
                      <label for="inputcodigo" class="col-sm-2 control-label">Codigo</label>
                      <div class="col-sm-2">
                            <input type="Codigo" class="form-control" id="txtcodigo" placeholder=" ">
                          </div>
                          <div class="col-md-2"> 
                              <button type="button" class="btn btn-default"><strong>Buscar</strong></button>
                          </div>
                          </div>
                          
                        <div class="form-group">
                        <label for="inputNombredelServicio" class="col-sm-2 control-label">Nombre del servicio</label>
                        <div class="col-sm-2">
                          <input type="Nombre del servicio" class="form-control" id="txtNombreservicio" placeholder="">
                        </div>
                        </div>
                        </div>
                      
                      <div class="form-group">
                          <label for="inputdescripcion" class="col-sm-2 control-label">Descripción</label><BR>
                          <div class="col-sm-6">
                             <textarea class="form-control" rows="3"></textarea>
                          </div>
                      </div>
                      
                <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button onclick="nuevo()"  type="button" class="btn btn-default"><strong>NUEVO</strong></button>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button onclick="actualizar()"  type="button" class="btn btn-default"><strong>ACTUALIZAR</strong></button>
          </div>
          </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button onclick="eliminar()"  type="button" class="btn btn-default"><strong>ELIMINAR</strong></button>
          </div>
          </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button onclick="cancelar()"  type="button" class="btn btn-default"><strong>CANCELAR</strong></button>
          </div>
          </div>
        
        
        
        
        
        
        
  