<BR>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Responsables de Familia</h4>
                 <ol class="breadcrumb">
                  </ol>
          </div>
            <div class="panel-body" style="background-color:#FEF9E7;">
              </div>
                
                
                <form class="form-horizontal">
                  <div class="form-group">
                    
                     <div class="col-md-11">
                       <div class="form-group">
                      <label for="inputcodigo" class="col-sm-2 control-label">Codigo</label>
                      <div class="col-sm-2">
                            <input type="Codigo" class="form-control" id="inputcodigo" placeholder=" ">
                          </div>
                          <div class="col-md-2"> 
                              <button type="button" class="btn btn-default"><strong>Buscar</strong></button>
                          </div>
                          </div>
                          
                        <div class="form-group">
                        <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-2">
                          <input type="Nombre" class="form-control" id="Nombre" placeholder="">
                        </div>
                      
                      <label for="inputApellidoPaterno" class="col-sm-2 control-label">Apellido Paterno</label>
                      <div class="col-sm-2">
                          <input type="ApellidoPaterno" class="form-control" id="ApellidoPaterno" placeholder="">
                      </div>
                      
                      <label for="ApellidoMaterno" class="col-sm-2 control-label">Apellido Materno</label>
                      <div class="col-sm-2">
                          <input type="ApellidoMaterno" class="form-control" id="ApellidoMaterno" placeholder="">
                      </div>
                      </div>
                      
                        <div class="form-group">
                        <label for="inputsexo" class="col-sm-2 control-label">Sexo</label>
                        <div class="col-sm-2">
                          <select class="form-control" id="sexo_id">
                            <option value=" "> </option>
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMENINO</option>
                          </select> 
                        </div>
                        
                  
                        <label for="TipoDocumento" class="col-sm-2 control-label">Tipo de Documento</label>
                        <div class="col-sm-2">
                          <select class="form-control" id="tipo_id">
                            <option value="D">DNI</option>
                            <option value="P">PASAPORTE</option>
                          </select> 
                        </div>
                  
                      
                      <label for="inputNumerodeDocumento" class="col-sm-2 control-label">N° de Documento</label>
                      <div class="col-sm-2">
                          <input type="NumdeDocumento" class="form-control" id="NumdeDocumento" placeholder=" ">
                      </div>
                      </div>
                      
                      <div class="form-group">
                      <label for="inputCelular" class="col-sm-2 control-label">Celular</label>
                      <div class="col-sm-2">
                          <input type="Celular" class="form-control" id="Celular" placeholder=" ">
                      </div>
                      
                      <label for="inputDireccion" class="col-sm-2 control-label">Direccion</label>
                      <div class="col-sm-6">
                          <input type="Direccion" class="form-control" id="Direccion" placeholder=" ">
                      </div>
                  </div>
                  
                <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-default"><strong>NUEVO</strong></button>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-default"><strong>ACTUALIZAR</strong></button>
          </div>
          </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-default"><strong>ELIMINAR</strong></button>
          </div>
          </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn btn-default"><strong>CANCELAR</strong></button>
          </div>
          </div>
        
        
        
        
        
        
        
        
        
        
        
                