<BR>
  
<div class="row">

    <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Registro de Responsable de Familia</h4></div>
            <div class="panel-body" style="background-color:#FEF9E7;">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Nombre</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Nombre" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Apellido Paterno</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Apaterno" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Apellido Materno</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Amaterno" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                        <label for="inputJuego" class="col-sm-4 control-label">Sexo</label>
                        <div class="col-sm-4">
                          <select class="form-control" id="sexo_id">
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMENINO</option>
                          </select> 
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="inputJuego" class="col-sm-4 control-label">TipoDocumento</label>
                        <div class="col-sm-4">
                          <select class="form-control" id="sexo_id">
                            <option value="D">DNI</option>
                            <option value="P">PASAPORTE</option>
                          </select> 
                        </div>
                      </div>
                      
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Numero de Documento</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Numdoc" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Correo Electronico</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Email" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                          <label for="inputCodigo" class="col-sm-4 control-label">Numero de celular</label>
                          
                          <div class="col-sm-4">
                            <input type="codigo" class="form-control" id="Numcel" placeholder="">
                          </div>
                          
                      </div>
                      
                      <div class="form-group">
                          <label for="inputdescripcion" class="col-sm-4 control-label">Direccion</label><BR>
                          <div class="col-sm-4">
                             <textarea class="form-control" rows="3"></textarea>
                          </div>
                      </div>
                      
                      <div class="form-group">
                          <label for="inputdescripcion" class="col-sm-4 control-label">Password</label><BR>
                          <div class="col-sm-4">
                          <input type="password" class="form-control" id="password_id" name="pasword" placeholder="" aria-describedby="basic-addon1"> 
                          </div>
                      </div>
                      
                      <BR>
                      <div class="form-group">
                        <div class="col-sm-4">
                          <button type="submit" class="btn btn-default active center-block">Registrar</button>
                        </div>
                      </div>   
                      
                  </form>    
            </div>  
            
          </div>
        </div> 
      </div>
    </div>
</div>