<BR>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Día de Campo</h4>
                 <ol class="breadcrumb">
                    <li class="active"><a href="https://d6be690de2f9f80a4dd55e7cbe1f40e5-rails50.codepicnic.com/home/RegistrarDiaCampo">Registrar</a></li>
                    <li class="active"><a href="https://d6be690de2f9f80a4dd55e7cbe1f40e5-rails50.codepicnic.com/home/ListaPedidos">Mis Pedidos</a></li>
                  </ol>
          </div>
            <div class="panel-body" style="background-color:#FEF9E7;">
              <form>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_fecha_ini">Fecha inicio:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="date" class="form-control" id="text_fecha_ini" placeholder="">
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="lab_fecha_fin">Fecha fin:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="date" class="form-control" id="text_fecha_fin" placeholder="">
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_lugar">Lugar:</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <select>
              <% if @lclubs != nil && @lclubs != ""
              @lclubs.each do |c| %>
              <option><%= c.nombre_club %></option>
              <% end end %>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_cant_part">Cant. Participantes:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="number" class="form-control" id="txt_cant_part" placeholder="">
          </div>
        </div>
        <div class="col-md-5">
        </div>
      </div>
      <hr class="hrcolor" style="color: #0056b2;" size="40">
      <div class="row" >
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_servicios">Servicios:</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select>
              <% if @lservicios != nil && @lservicios != ""
              @lservicios.each do |s| %>
              <option><%= s.nombre_servicio %></option>
              <% end end %>
            </select>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="lab_serv_personas">Personas:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="number" class="form-control" id="text_serv_personas" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="lab_serv_desc">Descripción:</label>
          </div>
        </div>
        <div class="col-md-8">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn_servicio"><strong>Agregar</strong></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <table class="table table-bordered" bordercolor="black">
               <tr bgcolor="#BAC7EC">
                  <th>N°</th>
                  <th>SERVICIO</th>
                  <th>CANT.</th>
                  <th>DESCRIPCION</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
      <hr class="hrcolor" style="color: #0056b2;" size="40">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="lab_juegos">Juegos:</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select>
              <% if @ljuegos != nil && @ljuegos != ""
              @ljuegos.each do |j| %>
              <option><%= j.nombre_juego %></option>
              <% end end %>
            </select>

          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="lab_juego_personas">Personas:</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="number" class="form-control" id="text_juego_personas" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="lab_juego_desc">Descripción:</label>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <button type="submit" class="btn-juego"><strong>Agregar</strong></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <table class="table table-bordered" bordercolor="black">
              <tr bgcolor="#BAC7EC">
                <th>N°</th>
                <th>JUEGO</th>
                <th>CANT.</th>
                <th>DESCRIPCION</th>
              </tr>
              <tr>
                <td>1</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>2</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>3</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="submit" value="GRABAR"/>
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="submit" value="CANCELAR"/>
          </div>
        </div>
      </div>
      
    </form>    
            </div>
      </div>
  </div>
</div>

