<BR>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="panel panel-primary">
          <div class="panel-heading"><h4>Verificar Solicitudes</h4></div>
            <div class="panel-body" style="background-color:#FEF9E7;">
    
                <table class="table table-bordered" bordercolor="black">
                  <tr>
                      <td><strong>Fecha Solicitada</strong></td>
                      <td><strong>Numero Solicitud</strong></td>
                      <td><strong>Nombre</strong></td>
                      <td><strong>Estado Solicitud</strong></td>
                  </tr>
                  <tr>
                      <td>23/05/2017</td>
                      <td><a href="https://d6be690de2f9f80a4dd55e7cbe1f40e5-rails50.codepicnic.com/home/solicitudes">Solicitud1</a></td>
                      <td>Juan Pérez</td>
                      <td>Pendiente</td>
                  </tr>
                  <tr>
                      <td>25/05/2017</td>
                      <td><a href="https://d6be690de2f9f80a4dd55e7cbe1f40e5-rails50.codepicnic.com/home/solicitudes">Solicitud2</a></td>
                      <td>María Fernandez</td>
                      <td>Pendiente</td>
                  </tr>
                  <tr>
                      <td>27/05/2017</td>
                      <td><a href="https://d6be690de2f9f80a4dd55e7cbe1f40e5-rails50.codepicnic.com/home/solicitudes">Solicitud3</a></td>
                      <td>Pablo Sanchéz</td>
                      <td>Pendiente</td>
                  </tr>
                </table>
            </div>   
           </div>  
       </div>      
  </div>
</div>
